/* Pr0xY */

html body{
  background-color: rgba(222,222,222,0.5);
}

html body header {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

html body header p.title{
  font-size: 7em;
  font-family: monospace;
  font-weight: 900;
  color:rgba(222,22,22,0.5);
  text-align: center;
  margin: auto;
}

html body nav {
  word-spacing: 10px;
  text-align: center;
  background-color: rgba(130,130,130,0.5);
  padding: 1px 0;
}

html body nav ul li.navli{
  display: inline;
}

html body nav ul li.navli a{
  text-decoration: none;
  color:rgba(222,22,22,0.5);
}

html body nav ul li.navli:hover{
  background-color: rgba(130,130,130,0.9);
  padding: 15px 0;
}

html body div.maindiv {
padding-top: 2.5%;
width: auto;
height: auto;

}
html body div.indexdivmain  {
  width: 40%
}
html body div.maindiv span p{
  font-size: 1.5em;
  color:rgba(222,22,22,0.5);
  text-align: justify;
}

html body div.maindiv form table tr td p{
  display: inline;
}
/* Pr0xY */
